
.icon-method-icon:before { content: '\e800'; } /* '' */
.icon-loading:before { content: '\e801'; } /* '' */
.icon-glyph:before { content: '\e802'; } /* '' */
.icon-glyph-1:before { content: '\e803'; } /* '' */
.icon-glyph-2:before { content: '\e804'; } /* '' */
.icon-glyph-3:before { content: '\e805'; } /* '' */
.icon-glyph-4:before { content: '\e806'; } /* '' */
.icon-glyph-5:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e896'; } /* '' */