#sidebar_ul {
    height: calc(100% - 121px);
}

.page-sidebar {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.ImageMenu {
    padding-bottom: 13px;
    padding-left: 9px;
    padding-right: 13px;
    padding-top: 13px;
}

.TableUserRoleCell {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.MasterHeaderCell {
    z-index: 1001;
}

.LogoCellFixedHeader {
    padding-left: calc(50vw - 70px);
}

.col-xs-12.CellTitleMasterFixed {
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.MasterFooterCellFixedVM.page-content.sidebarmenu-transtion {
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

i.fas.fa-cog.config-button-header {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 18px;
    margin: unset;
}

i.fas.fa-cog.config-button-header:hover {
    background-color: #002700;
}

.sidebar-config {
    width: 0px;
    height: calc(100vh - 50px);
    background-color: #dadada;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1001;
    text-decoration: unset;
    transition-duration: 0.25s !important;
    overflow: hidden;
}

.sidebar-config > ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    list-style-type: none;
    text-decoration: unset;
    color: rgb(0, 51, 0);
}
.sidebar-config > ul > li {
    width: 100%;
    line-height: 44px;
    max-height: 44px;
    padding-left: 15px;
    text-decoration: none;
    list-style: unset;
    font-size: 12px;
    font-weight: 700;
}
.sidebar-config > ul > :hover, not .sidebar-config > ul > * :hover {
    background-color: rgb(116, 116, 116);
    color: white;
    text-decoration: none;
}

.config-switch {
    padding-top: 10px;
    margin-left: 10px;
}

.sidebar-config > ul > li > .btn-group {
    margin-left: 10px;
}
.sidebar-config > ul > li > .btn-group > button :hover {
    background-color: rgb(24, 90, 35);
}

.sidebar-config > ul > li > .btn-group > ul > li {
    z-index: 1003;
}

.config-input {
    max-width: 60%;
    float: right;
    height: 40px;
    padding: 5px 5px;
}

.config-input :hover {
    background-color: #fff;
}
