#sidebar_ul {
    height: calc(100% - 121px);
}

.page-sidebar {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.ImageMenu {
    padding-bottom: 13px;
    padding-left: 9px;
    padding-right: 13px;
    padding-top: 13px;
}

.TableUserRoleCell {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.MasterHeaderCell {
    z-index: 1001;
}

.LogoCellFixedHeader {
    padding-left: calc(50vw - 70px);
}

.col-xs-12.CellTitleMasterFixed {
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

.MasterFooterCellFixedVM.page-content.sidebarmenu-transtion {
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
}

i.fas.fa-cog.config-button-header {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 18px;
    margin: unset;
}

i.fas.fa-cog.config-button-header:hover {
    background-color: #002700;
}

.sidebar-config {
    /* min-width: 300px; */
    width: 0;
    height: 5000;
    background-color: #dadada;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 1000;
    text-decoration: unset;
    transition-duration: 0.25s !important;
    overflow: hidden;
}

.sidebar-container-method {

    width: calc( 100% + 50px);

    padding-right: 33.65px;

    height: calc(100vh - 50px);

    overflow-y: scroll;

    overflow-x: hidden;

}

.method-list {

    text-decoration: none;

    list-style: none;

    display: block;

    -webkit-padding-start: 0;

    padding: 10px;

    width: calc( 100% + 50px);

}

.method-list :hover {

    text-decoration: none;

    list-style: none;

}

.method-list > li {

    /* padding: 20px; */

    text-decoration: none;

    display: inline-block;
}

.method-list > li {

    font-size: 12px;

    padding: 10px;

    width: inherit;

}

.method-sidebar-content {
    background-color: rgb(148, 180, 148);
    display: none;
    margin-bottom: 0;
    padding: 5px;
    width: calc( 100% - 100px);
}

.method-sidebar-title {

    height: 40px;
    width: calc( 100% - 50px);
    margin: -20px;
    padding: 10px;
    margin-bottom: 0px;
    background-color: #00a800;
    border-style: solid;
    border-color: #002700;
    border-width: 1px;
    color: white;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

.method-sidebar-content :hover {
    color: unset;
}

.method-sidebar-title > span.caret.pull-right {

    margin-top: 7px;

}

textarea {
    resize: none;
}

.ReadonlyMethodEditable {
    padding-right: 10px;
}

/* .method-list :hover {

    background-color: #009900;

} */

/* .method-list > li > a > span {

    display: block;

} */

/* .sidebar-config > div {

    padding: 20px;

}

.sidebar-config > div > div > ul {

    text-decoration: none;
    list-style: none;

} */

/* .sidebar-config > div > ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    list-style-type: none;
    text-decoration: unset;
    color: rgb(0, 51, 0);
}
.sidebar-config > div > div > div > ul > li {
    width: 100%;
    line-height: 44px;
    max-height: 44px;
    padding-left: 15px;
    text-decoration: none;
    list-style: unset;
    font-size: 12px;
    font-weight: 400;
}
.sidebar-config div > ul > :hover, not .sidebar-config > ul > * :hover {
    background-color: rgb(116, 116, 116);
    color: white;
    text-decoration: none;
}

.config-switch {
    padding-top: 10px;
    margin-left: 10px;
}

.sidebar-config > div > ul > li > .btn-group {
    margin-left: 10px;
}
.sidebar-config > div > ul > li > .btn-group > button :hover {
    background-color: rgb(24, 90, 35);
}

.sidebar-config > div > ul > li > .btn-group > ul > li {
    z-index: 1003;
}

.config-input {
    max-width: 35%;
    float: right;
    height: 40px;
    padding: 5px 5px;
}

.config-input :hover {
    background-color: #fff;
}

.sidebar-config > div > .btn {
    float: right;
} */