
.icon-comprashome:before { content: '\e800'; } /* '' */
.icon-fiscalhome:before { content: '\e801'; } /* '' */
.icon-fiscal:before { content: '\e802'; } /* '' */
.icon-iconemethod:before { content: '\e803'; } /* '' */
.icon-dashhome:before { content: '\e804'; } /* '' */
.icon-loading:before { content: '\e805'; } /* '' */
.icon-contasareceber:before { content: '\e806'; } /* '' */
.icon-payments:before { content: '\e807'; } /* '' */
.icon-placa:before { content: '\e808'; } /* '' */
.icon-report:before { content: '\e809'; } /* '' */
.icon-programa:before { content: '\e80a'; } /* '' */
.icon-userdesconto:before { content: '\e80b'; } /* '' */
.icon-cartaofidelidadehome:before { content: '\e80c'; } /* '' */
.icon-userdevedor:before { content: '\e80d'; } /* '' */
.icon-userreport:before { content: '\e80e'; } /* '' */
.icon-rotinapreco:before { content: '\e80f'; } /* '' */
.icon-outrasrotinas:before { content: '\e810'; } /* '' */
.icon-franquias:before { content: '\e811'; } /* '' */
.icon-pagamento:before { content: '\e812'; } /* '' */
.icon-userreport2:before { content: '\e813'; } /* '' */
.icon-reportlapis:before { content: '\e814'; } /* '' */
.icon-reportmoney:before { content: '\e815'; } /* '' */